USE [master]
GO
/****** Object:  Database [morrlibrary]    Script Date: 5/3/2021 7:59:15 AM ******/
CREATE DATABASE [morrlibrary] ON  PRIMARY 
( NAME = N'morrlibrary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\morrlibrary.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'morrlibrary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\morrlibrary_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [morrlibrary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [morrlibrary]
GO
/****** Object:  User [library]    Script Date: 5/3/2021 7:59:16 AM ******/
CREATE USER [library] FOR LOGIN [library] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [kamal]    Script Date: 5/3/2021 7:59:16 AM ******/
CREATE USER [kamal] FOR LOGIN [kamal] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'library'
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](max) NOT NULL,
	[Translator] [nvarchar](max) NULL,
	[Publisher] [nvarchar](max) NULL,
	[LanguageId] [int] NOT NULL,
	[CabinetNumber] [int] NOT NULL,
	[ShelfNumber] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SerialNumber] [nvarchar](100) NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrows]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrows](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ItemTypeId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[BorrowingDate] [nvarchar](max) NULL,
	[IsReturned] [bit] NOT NULL,
	[RetrunDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Borrows] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Designation] [nvarchar](200) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsEmployee] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemTypes]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ItemTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Languages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Magazines]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magazines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MagazineTypeId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Publisher] [nvarchar](max) NULL,
	[SerialNumber] [nvarchar](100) NOT NULL,
	[DateEntered] [nvarchar](max) NOT NULL,
	[CabinetNumber] [int] NOT NULL,
	[ShelfNumber] [int] NOT NULL,
	[PublicationDate] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Magazines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MagazineTypes]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MagazineTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MagazineTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfficialMagazines]    Script Date: 5/3/2021 7:59:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficialMagazines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Publisher] [nvarchar](max) NOT NULL,
	[DateEntered] [nvarchar](max) NOT NULL,
	[CabinetNumber] [int] NOT NULL,
	[ShelfNumber] [int] NOT NULL,
	[CodeNumber] [nvarchar](100) NOT NULL,
	[PublicationDate] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SerialNumber] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.OfficialMagazines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'53ac3e84-7f32-451b-bd27-8fb768a9f673', N'Admin')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'12c6ebcd-beb6-4216-b7e5-7268ea6503db', N'53ac3e84-7f32-451b-bd27-8fb768a9f673')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3fb916bc-6a04-4db1-ac90-e226245da9a3', N'53ac3e84-7f32-451b-bd27-8fb768a9f673')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'12c6ebcd-beb6-4216-b7e5-7268ea6503db', NULL, 0, N'ANS3JIxVHvzi4/hTWA7RgEA7YyOGVD+iXHRjs5yiMYmJVobuBx0sADr1y+p3iMenvQ==', N'6b3f8eb0-950d-40dc-aaeb-aa68d34bbc92', NULL, 0, 0, NULL, 1, 0, N'admin')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'3fb916bc-6a04-4db1-ac90-e226245da9a3', NULL, 0, N'ALLvxNqwnaqCSjuL2x16zGO+9ZUSf23TLCnyobPVr6K/S+uWCCdEWyrI7fM6sT+u3g==', N'0b918017-0dd0-4a37-8dbb-05cbc1083269', NULL, 0, 0, NULL, 1, 0, N'library')
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Name], [Author], [Translator], [Publisher], [LanguageId], [CabinetNumber], [ShelfNumber], [Quantity], [SerialNumber], [AvailableQuantity], [IsActive]) VALUES (1, N'قرآن مجید', N'مطعبه دولتی', N'قمرالدین', N'مطعبه دولتی', 1, 1, 1, 3, N'1', 3, 1)
INSERT [dbo].[Books] ([Id], [Name], [Author], [Translator], [Publisher], [LanguageId], [CabinetNumber], [ShelfNumber], [Quantity], [SerialNumber], [AvailableQuantity], [IsActive]) VALUES (2, N'قفه السنه', N'دکتر سید سابق مصری', N'دکتر محمودابراهیم', N'انتشارات سقز', 2, 1, 1, 4, N'2', 4, 1)
INSERT [dbo].[Books] ([Id], [Name], [Author], [Translator], [Publisher], [LanguageId], [CabinetNumber], [ShelfNumber], [Quantity], [SerialNumber], [AvailableQuantity], [IsActive]) VALUES (3, N'تفسیر کابلی', N'حضرت شیخ الهند محمود حسن دیوبندی', N'مولانا محمود حسن «دیوبندی»', N'نشراحسان', 2, 1, 1, 6, N'3', 6, 1)
GO
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrows] ON 

INSERT [dbo].[Borrows] ([Id], [EmployeeId], [ItemTypeId], [ItemId], [BorrowingDate], [IsReturned], [RetrunDate]) VALUES (2, 1, 3, 4595, N'۱۴۰۰/۰۲/۰۴', 1, N'۱۴۰۰/۰۲/۰۴')
INSERT [dbo].[Borrows] ([Id], [EmployeeId], [ItemTypeId], [ItemId], [BorrowingDate], [IsReturned], [RetrunDate]) VALUES (3, 1, 2, 1159, N'۱۴۰۰/۰۲/۰۴', 0, NULL)
INSERT [dbo].[Borrows] ([Id], [EmployeeId], [ItemTypeId], [ItemId], [BorrowingDate], [IsReturned], [RetrunDate]) VALUES (4, 1, 1, 2130, N'۱۴۰۰/۰۲/۰۴', 1, N'۱۴۰۰/۰۲/۰۴')
SET IDENTITY_INSERT [dbo].[Borrows] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [IsActive]) VALUES (1, N'تکنالوژی  و معلوماتی ', 1)
INSERT [dbo].[Departments] ([Id], [Name], [IsActive]) VALUES (2, N'عودت ', 0)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [EmployeeCode], [Name], [Designation], [DepartmentId], [Phone], [IsActive], [IsEmployee]) VALUES (1, N'29-90-16-011', N'حماد محمدی ', N'مدیر دیتابیس', 1, N'۰۷۸۰۰۹۳۱۱۹', 1, 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemTypes] ON 

INSERT [dbo].[ItemTypes] ([Id], [IsActive], [Name]) VALUES (1, 1, N'کتاب')
INSERT [dbo].[ItemTypes] ([Id], [IsActive], [Name]) VALUES (2, 1, N'مجله')
INSERT [dbo].[ItemTypes] ([Id], [IsActive], [Name]) VALUES (3, 1, N'جریده')
SET IDENTITY_INSERT [dbo].[ItemTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([Id], [Name], [IsActive]) VALUES (1, N'پشتو', 1)
INSERT [dbo].[Languages] ([Id], [Name], [IsActive]) VALUES (2, N'فارسی', 1)
INSERT [dbo].[Languages] ([Id], [Name], [IsActive]) VALUES (3, N'انگلیسی', 1)
SET IDENTITY_INSERT [dbo].[Languages] OFF
GO
SET IDENTITY_INSERT [dbo].[Magazines] ON 

INSERT [dbo].[Magazines] ([Id], [MagazineTypeId], [Name], [Publisher], [SerialNumber], [DateEntered], [CabinetNumber], [ShelfNumber], [PublicationDate], [Quantity], [AvailableQuantity], [IsActive]) VALUES (44, 2, N'قضا', N'ستره محکمه', N'1-1', N'۱۳۸۵/۰۴/۱۰', 9, 1, N'۱۳۸۵/۰۲/۳۱', 1, 1, 1)
INSERT [dbo].[Magazines] ([Id], [MagazineTypeId], [Name], [Publisher], [SerialNumber], [DateEntered], [CabinetNumber], [ShelfNumber], [PublicationDate], [Quantity], [AvailableQuantity], [IsActive]) VALUES (45, 2, N'قضا', N'ستره محکمه', N'1-2', N'۱۳۸۵/۰۴/۱۰', 9, 1, N'۱۳۸۵/۰۳/۳۱', 1, 0, 1)
INSERT [dbo].[Magazines] ([Id], [MagazineTypeId], [Name], [Publisher], [SerialNumber], [DateEntered], [CabinetNumber], [ShelfNumber], [PublicationDate], [Quantity], [AvailableQuantity], [IsActive]) VALUES (46, 2, N'قضا', N'ستره محکمه', N'1-3', N'۱۳۸۵/۰۶/۰۶', 9, 1, N'۱۳۸۵/۰۴/۳۱', 1, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Magazines] OFF
GO
SET IDENTITY_INSERT [dbo].[MagazineTypes] ON 

INSERT [dbo].[MagazineTypes] ([Id], [Name], [IsActive]) VALUES (1, N'مجله', 1)
INSERT [dbo].[MagazineTypes] ([Id], [Name], [IsActive]) VALUES (2, N'ماهنامه', 1)
INSERT [dbo].[MagazineTypes] ([Id], [Name], [IsActive]) VALUES (3, N'فصل نامه', 1)
SET IDENTITY_INSERT [dbo].[MagazineTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[OfficialMagazines] ON 

INSERT [dbo].[OfficialMagazines] ([Id], [Publisher], [DateEntered], [CabinetNumber], [ShelfNumber], [CodeNumber], [PublicationDate], [Quantity], [AvailableQuantity], [IsActive], [Name], [SerialNumber]) VALUES (2189, N'وزارت عدلیه', N'1385/09/26', 2, 3, N'203', N'1385/07/30', 1, 1, 0, N'کنوانسیون مربوط به وضع پناهندگان (28) جورای 1951 وپروتوکول مربوط به وضع پناهند گان (31جورای 1947)', N'902')
INSERT [dbo].[OfficialMagazines] ([Id], [Publisher], [DateEntered], [CabinetNumber], [ShelfNumber], [CodeNumber], [PublicationDate], [Quantity], [AvailableQuantity], [IsActive], [Name], [SerialNumber]) VALUES (2190, N'وزارت عدلیه', N'1397/12/26', 3, 1, N'204', N'1397/11/02', 7, 7, 0, N'قانون حفاظت نباتات وقرنطین وقانون انرژی هستوی', N'1243')
INSERT [dbo].[OfficialMagazines] ([Id], [Publisher], [DateEntered], [CabinetNumber], [ShelfNumber], [CodeNumber], [PublicationDate], [Quantity], [AvailableQuantity], [IsActive], [Name], [SerialNumber]) VALUES (2191, N'وزارت عدلیه', N'1395/12/07', 3, 1, N'205', N'1395/10/08', 7, 7, 0, N'قانون حمایت ازمستهلک وقاتون اهدای ملکیت دولتی', N'1241')
GO
SET IDENTITY_INSERT [dbo].[OfficialMagazines] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LanguageId]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE NONCLUSTERED INDEX [IX_LanguageId] ON [dbo].[Books]
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SerialNumber]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SerialNumber] ON [dbo].[Books]
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[Borrows]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemTypeId]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemTypeId] ON [dbo].[Borrows]
(
	[ItemTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmployeeCode]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmployeeCode] ON [dbo].[Employees]
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MagazineTypeId]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE NONCLUSTERED INDEX [IX_MagazineTypeId] ON [dbo].[Magazines]
(
	[MagazineTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SerialNumber]    Script Date: 5/3/2021 7:59:18 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SerialNumber] ON [dbo].[Magazines]
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CodeNumber]    Script Date: 5/3/2021 7:59:18 AM ******/
ALTER TABLE [dbo].[OfficialMagazines] ADD  CONSTRAINT [IX_CodeNumber] UNIQUE NONCLUSTERED 
(
	[CodeNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SerialNumber]    Script Date: 5/3/2021 7:59:18 AM ******/
ALTER TABLE [dbo].[OfficialMagazines] ADD  CONSTRAINT [IX_SerialNumber] UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [AvailableQuantity]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Borrows] ADD  DEFAULT ((0)) FOR [IsReturned]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsEmployee]
GO
ALTER TABLE [dbo].[ItemTypes] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Magazines] ADD  DEFAULT ((0)) FOR [AvailableQuantity]
GO
ALTER TABLE [dbo].[Magazines] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MagazineTypes] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OfficialMagazines] ADD  DEFAULT ((0)) FOR [AvailableQuantity]
GO
ALTER TABLE [dbo].[OfficialMagazines] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OfficialMagazines] ADD  DEFAULT ('') FOR [SerialNumber]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Languages_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.Languages_LanguageId]
GO
ALTER TABLE [dbo].[Borrows]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Borrows_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Borrows] CHECK CONSTRAINT [FK_dbo.Borrows_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Borrows]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Borrows_dbo.ItemTypes_ItemTypeId] FOREIGN KEY([ItemTypeId])
REFERENCES [dbo].[ItemTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Borrows] CHECK CONSTRAINT [FK_dbo.Borrows_dbo.ItemTypes_ItemTypeId]
GO
ALTER TABLE [dbo].[Magazines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Magazines_dbo.MagazineTypes_MagazineTypeId] FOREIGN KEY([MagazineTypeId])
REFERENCES [dbo].[MagazineTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Magazines] CHECK CONSTRAINT [FK_dbo.Magazines_dbo.MagazineTypes_MagazineTypeId]
GO
USE [master]
GO
